.beej-intro-slice {
  padding: 40px 0;

  &__container {
    padding: 20px;
    margin: 0 auto;
    max-width: $breakpoint-sm;
    text-align: center;
  }

  &__icon {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;

    &--small {
      width: 100px;
      height: 100px;
    }
  }

  &__button {
    justify-content: center;
  }

  &--background-grey {
    background: $color-ui-grey-light;
  }

  &--background-pink {
    background: $color-primary-pink;

    .beej-intro-slice__title,
    .beej-intro-slice__text {
      color: $color-white;
    }
  }

  &--background-purple {
    background: $color-primary-purple;

    .beej-intro-slice__title,
    .beej-intro-slice__text {
      color: $color-white;
    }
  }

  &--background-blue {
    background: $color-primary-blue;

    .beej-intro-slice__title,
    .beej-intro-slice__text {
      color: $color-white;
    }
  }

  &--background-orange {
    background: $color-primary-orange;

    .beej-intro-slice__title,
    .beej-intro-slice__text {
      color: $color-white;
    }
  }

  &--margins {
    max-width: $breakpoint-lg;
    margin: 0 auto;
  }

  @media (min-width: $breakpoint-md) {
    padding: 60px 0;

    &__icon {
      width: 200px;
      height: 200px;
      margin-bottom: 40px;

      &--small {
        width: 150px;
        height: 150px;
      }
    }
  }

  @media (min-width: $breakpoint-lg) {
    padding: 80px 0;
  }
}
