.beej-todo-list-audit {
  background-color: $color-ui-grey-medium-25;
  border-radius: 20px;
  box-shadow: $drop-shadow;
  padding: 20px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  right: 20px;
  width: auto;

  &__title-container {
    margin-bottom: 20px;
    text-align: center;
  }

  &__title {
    color: $color-white;
  }

  &__list-container {
    background-color: $color-black;
    border-radius: 20px;
    min-height: 200px;
    padding: 20px;
  }

  &__list-item {
    font-size: .75rem;
    list-style: none;
  }

  @media (min-width: $breakpoint-md) {
    bottom: 100px;
    left: unset;
    right: 50px;
    padding: 20px;
    width: 400px;
  }
}
