.beej-button {
    align-items: center;
    border-radius: 25px;
    border: 2px solid $color-ui-grey-medium;
    background: transparent;
    color: $color-ui-grey-medium;
    cursor: pointer;
    display: flex;
    height: 46px;
    justify-content: center;
    padding: 0 20px;
    margin: 20px 0;
    transition: all .25s ease-in-out;
  
    &__container {
        align-items: center;
        display: flex;
    }
  
    &:hover {
        background: $color-ui-grey-medium;
        box-shadow: 0px 10px 20px -8px rgba(50,50,50,.5);
        color: $color-white;
    }
  
    &--white {
        border: 2px solid $color-white;
        color: $color-white;
  
        &:hover {
          background: $color-white;
          color: $text-color;
        }
    }
  
    &--pink {
        border: 2px solid $color-primary-pink;
        color: $color-primary-pink;
  
        &:hover {
          background: $color-primary-pink;
        }
    }
  
    &--blue {
        border: 2px solid $color-primary-blue;
        color: $color-primary-blue;
  
        &:hover {
          background: $color-primary-blue;
        }
    }
  
    &--purple {
        border: 2px solid $color-primary-purple;
        color: $color-primary-purple;
  
        &:hover {
          background: $color-primary-purple;
        }
    }
  
    &--orange {
        border: 2px solid $color-primary-orange;
        color: $color-primary-orange;
  
        &:hover {
            background: $color-primary-orange;
        }
    }
}
  