.beej-footer {
  background: $color-ui-grey-dark;

  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 60px 20px;
  }

  &__logo-img {
    height: 40px;
    opacity: .5;
  }

  &__nav {
    margin: 20px 0;
  }

  &__nav-item {
    color: $text-color-light;
    margin: 0 10px;
    padding: 0 20px;
    font-weight: light;
    height: 50px;
    display: flex;
    align-items: center;

    &:hover {
      color: $color-primary-pink;
    }
  }

  &__legal-text {
    font-size: .75rem;
  }

  &--light-theme {
    background: $color-ui-grey-light;
  }

  &--black-theme {
    background: $color-ui-black;
  }

  @media (min-width: $breakpoint-md) {
    &__nav {
      margin: 50px 0;
      display: flex;
      align-items: center;
    }

    &__text {
      font-size: 1rem;
    }
  }
}
