.beej-hero {
   background: {
     blend-mode: multiply;
     color: $color-ui-grey-medium-50;
     position: center center;
     size: cover;
   }
   position: relative;

   &__container {
     height: auto;
     min-height: 300px;
     display: flex;
     align-items: center;
     margin: 0 auto;
     padding: 20px;

     &--center-align {
       justify-content: center;

       .beej-hero__content {
         text-align: center;
       }

       .beej-button__container {
         justify-content: center;
       }
     }

     &--right-align {
       justify-content: flex-end;

       .beej-hero__content {
         text-align: right;
       }

       .beej-button__container {
         justify-content: flex-end;
       }
     }
   }

   &__content {
     padding: 40px 20px;

     .beej-hero__title {
       color: $color-white;
     }

     .beej-hero__text {
       color: $color-white;
     }

     // Content Background Options
     &--outline-white {
       border: 4px solid $color-white;
     }

     &--background-white {
       background: $color-white;

       .beej-hero__title {
         color: $text-color;
       }

       .beej-hero__text {
         color: $text-color;
       }
     }

     &--background-blue {
       background: $color-primary-blue;

       .beej-hero__title {
         color: $color-white;
       }

       .beej-hero__text {
         color: $color-white;
       }
     }

     &--background-pink {
       background: $color-primary-pink;

       .beej-hero__title {
         color: $color-white;
       }

       .beej-hero__text {
         color: $color-white;
       }
     }

     &--background-purple {
       background: $color-primary-purple;

       .beej-hero__title {
         color: $color-white;
       }

       .beej-hero__text {
         color: $color-white;
       }
     }
   }

   // Background Color Overly Options
   &--pink-overlay {
     background-color: $color-primary-pink;
   }

   &--blue-overlay {
     background-color: $color-primary-blue;
   }

   &--purple-overlay {
     background-color: $color-primary-purple;
   }

   &--orange-overlay {
     background-color: $color-primary-orange;
   }

   &--margins {
     max-width: 1200px;
     margin: 0 auto;
   }

   @media (min-width: $breakpoint-sm) {
     &__container {
       height: 500px;
       min-height: 400px;
     }

     &__content {
       width: 75%;

       .beej-hero__title {
         margin-bottom: 20px;
       }
     }
   }

   @media (min-width: $breakpoint-md) {
     &__content {
       width: 50%;
     }
   }

   @media (min-width: $breakpoint-lg) {
     &__container {
       height: 600px;
     }

     &__content {
       width: 35%;
    }
  }
}
