<footer class="beej-footer ${properties.footerTheme}">
    <div class="beej-footer__container margins">
        <a class="beej-footer__logo" href="${properties.logoURL}">
            <img class="beej-footer__logo-img" src="${properties.footerLogo}">
        </a>
        <nav class="beej-footer__nav">
            <a class="beej-footer__nav-item" href="*">Home</a>
            <a class="beej-footer__nav-item" href="*">About</a>
            <a class="beej-footer__nav-item" href="*">Products</a>
            <a class="beej-footer__nav-item" href="*">Blog</a>
            <a class="beej-footer__nav-item" href="*">Portfolio</a>
        </nav>
        <div class="beej-footer__legal-text">${properties.legalText}</div>
    </div>
    <button class="beej-back-to-top-button animate__animated animate__bounceInRight">
        <i class="fa fa-chevron-up"></i>
    </button>
</footer>