.beej-todo-list {
  background-color: $color-ui-grey-medium-25;
  padding: 100px 20px;

  &__title-container {
    margin-bottom: 40px;
  }

  &__title {
    text-align: center;
  }

  &__container {
    height: auto;
    position: relative;
    margin: 0 auto;
  }

  &__button-group {
    display: flex;
    align-items: center;
    margin: 20px -10px;

    .beej-button {
      height: 50px;
      margin: 0 10px;
      width: 50%;
      padding: 0;
    }
  }

  &__form {
    background-color: $color-white-75;
    border-radius: 50px;
    box-shadow: $drop-shadow;
    height: fit-content;
    margin-bottom: 20px;
    padding: 40px;
  }

  &__filter {
    margin-bottom: 20px;

    input {
      border: none;
      background: transparent;
      border-bottom: 1px solid #fff;
      color: $color-white;

      &::placeholder {
        color: $color-white;
      }
    }
  }

  &__list-container {
    flex-grow: 1;
    margin-left: 40px;
  }

  &--margins {
    max-width: 1200px;
    margin: 0 auto;
  }

  &__list {
    padding: 0;
    margin: 0;
    overflow-y: auto;
    transition: all .5s ease-in-out; 
  }

  &__list-item {
    align-items: center;
    background-color: $color-white-50;
    box-shadow: $drop-shadow;
    display: flex;
    font-size: 1.25rem;
    height: 40px;
    margin: 10px 0;
    padding: 20px;
    transition: all .5s ease-in-out;
  }

  // Background Color Overly Options
  &--pink {
    background-color: $color-primary-pink;
  }

  &--blue {
    background-color: $color-primary-blue;
  }

  &--purple {
    background-color: $color-primary-purple;
  }

  &--orange {
    background-color: $color-primary-orange;
  }

  &--pink,
  &--blue,
  &--purple,
  &--orange {
    .beej-todo-list__title {
      color: $color-white;
    }

    .beej-todo-list__list-item {
      color: $color-white;
    }
  }

  @media (min-width: $breakpoint-md) {
    &__container {
      display: flex;
    }

    &__form {
      width: 400px;
    }
  }
}
