<section class="beej-intro-slice ${properties.introSliceBackgroundColor} ${properties.introSliceMaxWidth}">
    <div class="beej-intro-slice__container">
        <img class="beej-intro-slice__icon ${properties.introSliceIconSize}" src="${properties.introSliceIcon @ context='uri'}">
        <h2 class="beej-intro-slice__title">${properties.introSliceTitle}</h2>
        <p class="beej-intro-slice__feature-text">${properties.introSliceText}</p>
        <div class="beej-intro-slice__button beej-button__container" data-sly-test="${properties.introSliceCTAPath}">
            <a class="beej-button ${properties.introSliceCTAColor}" href="${properties.introSliceCTAPath}">${properties.introSliceCTAText}</a>
        </div>
    </div>
</section>