<section class="beej-todo-list beej-todo-list${properties.todoBackgroundColor}">
    <div class="beej-todo-list__title-container margins">
        <h3 class="beej-todo-list__title">${properties.todoTitle || 'My Todo List'}</h3>
    </div>
    <div class="beej-todo-list__container margins">
        <div class="beej-todo-list__input-box">
            <div class="been-todo-list__input-group">
                <input type="text" id="todoInput" placeholder="Add an item to your Todo List">
                <button class="beej-button beej-button${properties.todoBackgroundColor}">Add Item</button>
            </div>
        </div>
        <div class="beej-todo-list__list-container">
            <ul class="beej-todo-list__list" id="todoList">
                <li class="beej-todo-list__list-item">Hit the gym</li>
                <li class="beej-todo-list__list-item checked">Pay bills</li>
                <li class="beej-todo-list__list-item">Meet George</li>
                <li class="beej-todo-list__list-item">Buy eggs</li>
                <li class="beej-todo-list__list-item">Read a book</li>
                <li class="beej-todo-list__list-item">Organize office</li>
                <li class="beej-todo-list__list-item">Buy eggs</li>
                <li class="beej-todo-list__list-item">Read a book</li>
                <li class="beej-todo-list__list-item">Organize office</li>
            </ul>
        </div>
    </div>
</section>
