html,
body {
    background-color: white;
    font-family: "Open Sans";
    width: 100%;
    margin: 0;
    padding: 0;
    color: $text-color;
}

button,
input,
optgroup,
select,
textarea {
    font: inherit;
}

// Headings
// -------------------------

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 500;
  margin: 0 0 10px 0;
}

h1, .h1 {
  font-size: 2.5rem;
  line-height: 1.1;

  @media (min-width: $breakpoint-md) {
    font-size: 3.75rem;
  }
}

h2, .h2 {
  font-size: 2.25rem;
  line-height: 1.1;

  @media (min-width: $breakpoint-md) {
    font-size: 3.25rem;
  }
}

h3, .h3 {
  font-size: 2rem;
  line-height: 1.1;

  @media (min-width: $breakpoint-md) {
    font-size: 2.75rem;
  }
}

h4, .h4 {
  font-size: 1.75rem;
  line-height: 1.2;

  @media (min-width: $breakpoint-md) {
    font-size: 2.5rem;
  }
}

h5, .h5 {
  font-size: 1.25rem;
  line-height: 1.2;
  text-decoration: underline;

  @media (min-width: $breakpoint-md) {
    font-size: 1.75rem;
  }
}

a {
    color: $color-primary-pink;
    text-decoration: none;
}

p {
  font-size: 1rem;
  line-height: 1.6;
  margin: 0 0 20px 0;

  &:last-of-type {
    margin: 0;
  }
}

input {
  height: calc(50px - 20px);
}

textarea {
    height: 100px;
}

input, textarea {
  background: $color-white;
  border-radius: 3px;
  color: $text-color;
  width: calc(100% - 20px);
  border: 1px solid $color-ui-grey-medium-50;
  outline: none;
  transition: all .125s ease-in-out;
  font-size: 18px;
  padding: 10px;

  &:focus {
    border: 1px solid $color-ui-grey-medium;
  }
}

.beej-input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;

  @media (min-width: $breakpoint-md) {
    width: calc(50% - 20px);
  }
}
