// Variables

$breakpoint-sm:                            768px;
$breakpoint-md:                            900px;
$breakpoint-lg:                           1200px;

$color-primary-blue:                     #0095ff;
$color-primary-blue-50:       rgba(0,149,255,.5);

$color-primary-pink:                     #ff0076;
$color-primary-pink-50:       rgba(255,0,118,.5);

$color-primary-purple:                   #c30ae4;
$color-primary-purple-50:     rgba(195,100,228,.5);

$color-primary-orange:                #ff6a00;
$color-primary-orange-50:     rgba(255,106,0,.5);

$text-color:                          #646464;
$text-color-dark:                     #343434;
$text-color-light:                    #e6e6e6;

$color-black:                            #000;

$color-white:                            #FFF;
$color-white-75:    rgba(255, 255, 255, 0.75);
$color-white-50:    rgba(255, 255, 255, 0.50);
$color-white-25:    rgba(255, 255, 255, 0.25);

$color-ui-black:                      #121212;
$color-ui-grey-medium:                #646464;
$color-ui-grey-medium-50:          rgba(100,100,100,.5);
$color-ui-grey-dark:                 #343434;
$color-ui-grey-light:                #e1e1e1;
$color-ui-grey-lighter:              #efefef;

$main-gradient: linear-gradient(to bottom right, #0095ff, #ff0076);

$transition:     all .3s cubic-bezier(0.52,0,0.53,1);

$font-family:  "Open Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;

//== Font

$font-family:           "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size:             16px;
$font-height:           1.5;

//== Color

// Normal mode
$color-foreground:      #202020;
$color-background:      #ECECEC;
$color-link:            #2020E0;

// Dark mode
$color-foreground-dark: invert($color-foreground);
$color-background-dark: invert($color-background);
$color-link-dark:       invert($color-link);
