.beej-back-to-top-button {
  background-color: $color-black;
  border-radius: 50%;
  border: none;
  box-shadow: $drop-shadow;
  bottom: 20px;
  cursor: pointer;
  display: none;
  height: 60px;
  position: absolute;
  right: 40px;
  top: -30px;
  width: 60px;

  &:hover {
    background-color: $color-primary-pink;
  }

  .fa {
    color: white;
    height: 30px;
    width: 30px;
  }
}
